.sign__input {
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  color: #CCC;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  border: none;
  border-bottom: 2px solid #CCC;
  padding: 0 0 8px;
  margin: 0;
}

.sign__input:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}